{% comment %}
  Use the correct base meta tags in the head of your document.
{% endcomment %}

<html>
  <head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Name of the documents</title>

    <style>
      html {
        font-family: Arial;
        font-size: 16px;
      }
    </style>
    </head>

    <body>
        <!-- Here goes some document structure -->
    </body>
</html>

